body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: var(--nord-0);
  color: var(--nord-4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.title {
  font-size: 72px;
  color: var(--nord-6);
  margin-bottom: 20px;
  position: relative;
}

.timer {
  font-size: 48px;
  color: var(--nord-9);
}

.loading {
  font-size: 24px;
  color: var(--nord-6);
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.confetti:before,
.confetti:after {
  content: "";
  position: absolute;
  top: -10px;
  background: linear-gradient(
    45deg,
    var(--nord-10),
    var(--nord-11),
    var(--nord-10)
  );
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: confetti 2s infinite;
}

.confetti:before {
  left: calc(100% * var(--random-x));
  animation-delay: calc(var(--random-delay) * 1s);
}

.confetti:after {
  left: calc(100% * var(--random-x));
  animation-delay: calc(var(--random-delay) * 1s);
}
.moving-text {
  position: fixed;
  font-size: 18px;
  font-weight: bold;
  pointer-events: none;
}

:root {
  --nord-0: #2e3440;
  --nord-1: #3b4252;
  --nord-2: #434c5e;
  --nord-3: #4c566a;
  --nord-4: #d8dee9;
  --nord-5: #e5e9f0;
  --nord-6: #eceff4;
  --nord-7: #8fbcbb;
  --nord-8: #88c0d0;
  --nord-9: #81a1c1;
  --nord-10: #5e81ac;
  --nord-11: #bf616a;
  --nord-12: #d08770;
  --nord-13: #ebcb8b;
  --nord-14: #a3be8c;
  --nord-15: #b48ead;
}

@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(400px) rotate(360deg);
    opacity: 0;
  }
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./content/Press_Start_2P/PressStart2P-Regular.ttf")
    format("truetype");
}
